* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.none-display {
    display: none !important;
}

.join-popup-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);

    .popup-modal {
        max-width: 425px;
        width: 90%;
        position: relative;
        padding: 12px;
        max-height: 450px;
        border: 2px solid black;
        border-radius: 28px;
        height: 90%;
        background-color: #fff;
        box-shadow: #E4EFb1 8px 8px, 8px 8px 0px 2px black;
        ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        /* display: none; */

        & img {
            width: 30%;
        }

        & h3 {
            width: 90%;
            font-size: 28px;
            text-align: center;
            font-weight: 500;
            line-height: 42px;
        }

        & button {
            width: 90%;
            padding: 8px 0;
            border: 2px solid black;
            border-radius: 8px;
            background-color: #E4EFb1;
            box-shadow: #fff 3px 3px, 3px 3px 0px 2px black;
            font-size: 14px;
            font-weight: 500;
        }

        .cross-btn {
            position: absolute;
            top: 12px;
            right: 12px;
            border: 2px solid black;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            padding: 3px;
            cursor: pointer;
            box-shadow: #E4EFb1 3px 3px, 3px 3px 0px 1px black;
        }
    }
}

.section {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    .section-container {
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .section-text {
            width: 50%;
        }

        .section-img {
            width: 40%;

        }

        .section-img img {
            width: 100%;
        }

    }
}

.company-logo{
    position: absolute;
    top: 0;
    left: 0;
    padding:16px 10% ;

    & img{
        width: 200px;
    }
}

.join-btn {
    border-radius: 33px;
    background-color: #222222;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    width: 120px;
    height: 50px;
}

.common-heading {
    font-size: 72px;
    line-height: 75px;
    font-weight: 800;
}

.common-body {
    font-size: 24px;
    margin-top: 12px;
    font-weight: 600;
}

.section-1 {
    background-color: #EaE4FF;

    .section-1-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;

        .section-1-body {
            color: #233B67;
        }

        .section-1-heading {
            background: -webkit-linear-gradient(#6E5DCD, #746BDD, #FE7BFD, #BB7DFF);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .section-1-upperhead {
            font-size: 24px;
            font-weight: 500;
            color: #666666;
        }

        .section-1-text-bottom {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .input-conatiner {
                display: flex;
                justify-content: flex-start;
                gap: 1rem;

                .email-input {
                    border: 2px solid #BB7DFF;
                    background-color: white;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 12px 20px;
                    width: 65%;
                    border-radius: 33px;
                    gap: 12px;

                    & i{
                        font-size: 1.25rem;
                    }
                    
                    & input{
                        font-size: 16px;
                        border: none;
                        width: 100%;
                        outline: none;
                        height: 100%;
                    }
                }
            }

            .waitlist-img {
                width: 50%;
            }

            .waitlist-text {
                font-size: 14px;
                font-weight: 400;
                color: #222222;
            }

        }

    }
}

.section-2 {
    background-color: #F5E6C9;

    .section-2-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .section-2-heading {
            color: #FF8D8C;
        }

        .section-2-body {
            color: #794544;
        }
    }
}

.section-3 {
    background-color: #FFA7D7;

    .section-3-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .section-3-heading {
            color: #fff;
        }

        .section-3-body {
            color: #081E8B;
        }
    }
}


@media only screen and (max-width:512px) {
    .common-heading {
        font-size: 42px;
        line-height: 45px;
    }

    .common-body {
        font-size: 12px;
        margin-top: 0;
        font-weight: 600;
    }

    .join-btn {
        font-size: 14px;
        height: 35px;
    }

    .section-1 {
        .section-1-text {
            .section-1-upperhead {
                font-size: 12px;
            }

            .section-1-text-bottom {
                .input-conatiner {
                    .email-input {
                        padding: 2px 12px;
                        height: 35px;    
                        & i{
                            font-size: 1.25rem;
                        }
                        
                        & input{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .company-logo{
        padding: 16px 0px 0px 24px ;
        display: flex;
        align-items: center;
    
        & img{
            width: 150px;
        }
    }

    .section {
        height: auto;
        padding: 4rem 0;
        min-height: 100vh;

        .section-container {
            width: 100%;
            height: 100%;
            padding: 12px;
            flex-direction: column;
            gap: 2rem;

            .section-text {
                width: 95%;
            }

            .section-img {
                width: 95%;

            }

            .section-img img {
                width: 100%;
            }

        }
    }

    .section-2 {
        .section-container {
            flex-direction: column-reverse;
        }
    }
}